{% extends 'questionnaire/template/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/list_poll.css' %}">
    <link rel="stylesheet" href="{% static 'css/dynamic_background.css' %}">
{% endblock %}

{% block content %}
    <div class="row" id="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-10 col-sm-12 col-md-10 col-lg-10">
            <ol class="bullet">

                <center><h1>Мои опросы</h1></center>

                {% for poll in my_polls %}

                    <li>
                        <span>{{ poll.title }}</span>
                        <br>
                        <span><small>{{ poll.description }}</small></span>
                        <hr>
                        <p><label class="pointer" id="{{ forloop.counter }}"
                                  onclick="showQuestion(this, 'quest-'+this.id)"><strong><i>Нажмите
                            для
                            отображения вопросов и ответов</i></strong></label></p>
                        <div id="quest-{{ forloop.counter }}" style="display: none;">
                            {% for question in poll.questions.all %}

                                <p>Вопрос: <strong>{{ question.question }}</strong></p>
                                <label title="{{ question.question }}">Варианты ответов:</label>
                                {% for answer in question.answers.all %}
                                    {% if answer.correct %}
                                        <p title="Это правильный ответ">{{ forloop.counter }}) {{ answer.answer }} ✅</p>
                                    {% else %}
                                        <p title="Это не правильный ответ">{{ forloop.counter }}) {{ answer.answer }}
                                            ❌</p>
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <hr>

                            {% endfor %}
                            <label style="float: right"><small>Можно пройти до: {{ poll.lifetime }}</small></label>
                            <br>
                        </div>
                        <label style="float: right"><small>Создан: {{ poll.created_at }}</small></label>
                        <br>
                        <p onclick="copyURL('copy_url-{{ poll.pk }}')">
                            <input type="hidden" value="http://{{ request.get_host }}{% url 'take_poll' poll.pk %}" id="copy_url-{{ poll.pk }}">
                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-subtract" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                                </svg>
                                <label class="pointer">Скопировать ссылку</label>
                            </small>
                        </p>

                    </li>

                {% endfor %}

            </ol>
        </div>
    </div>

    <script>
        function showQuestion(element, id) {
            el = document.getElementById(id)
            if (el.style.display === 'none') {
                el.style = 'display: block;'
                element.textContent = 'Нажмите для скрытия вопросов и ответов'
            } else {
                el.style = 'display: none;'
                element.innerHTML = '<strong>Нажмите для отображения вопросов и ответов</strong>'
            }
        }

        function copyURL(id) {
            const str = document.getElementById(id).value;
            const el = document.createElement('textarea');
            el.value = str;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        }
    </script>

{% endblock %}